 
<div style="margin:0 auto;width:70%;">
    <div id="viewer">
    </div>
</div>
 
<div id="order">
    <b>Комментар до замовлення:</b><br/>
    <textarea ng-model="vm.comment"></textarea><br />
    <b>Знiмiть позначки з фотографiй, якi Ви не будете замовляти.</b><br/>
    <div class="button" ng-click="vm.orderPhotos()">
        Замовити
    </div> 
</div>


<div id="thumbnailsContainer">
    <div class="item" ng-repeat="item in vm.gallery.Pictures">
        <span class="identificator" ng-bind="item.PictureID"></span>
        <img src="{{item.ThumbnailImagePath}}" ng-click="vm.showLargeImage(item.LargeImagePath)" />
        <div class="addToCart">
            <input type="checkbox" ng-model="item.Checked" />
        </div>
    </div>
</div>



 