

#viewer {
    display: inline-block;
    z-index: 1000;
    position: fixed;
    top: 18%;
    max-height: 70%;
    padding-top: 5px;
}

#buttons {
    margin: 0px auto;
    width: 400px;
}

.button {
    margin: 10px auto;
    width: 180px;
    text-align: center;
    background-color: darkorange;
    border: 1px solid black;
    padding: 6px;
    font-size: 18px;
    border-radius: 4px;
    display: inline-block;
}

    .button:hover {
        background-color: #ffd800;
        cursor: pointer;
    }
     

.item {
    background-color: aliceblue;
    border: 1px solid black;
    width: 100px;
    height: 125px;
    display: inline-block;
    margin: 0 0 1px 1px;
}

    .item:hover {
        background-color: yellow;
    }

    .item img {
        border: 1px solid black;
        display: block;
        height: 60px;
        margin: 5px auto;
    }

        .item img:hover {
            cursor: pointer;
        }

.addToCart input {
    margin-left: 43px;
}

#thumbnailsContainer {
    overflow-y: scroll;
    height: 30%;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 3px;
}

#largeImageContainer {
    overflow-x: scroll;
    border: 1px solid black;
    padding: 10px 0 0px 0;
    text-align: center;
    background-color: #f3f3f2;
    margin-bottom: 10px;
}

.identificator {
    text-align: center;
    padding: 3px;
    display: block;
}






/*.item {
    background-color: aliceblue;
    border: 1px solid black;
    width: 100px;
    height: 110px;
    display: inline-block;
    margin: 0 0 1px 1px;
}

    .item:hover {
        background-color: yellow;
    }

    .item img {
        width: 90px;
        margin: 5px 5px auto 4px;
        border: 1px solid black;
    }

        .item img:hover {
            cursor: pointer;
        }

.addToCart input {
    margin-left: 43px;
}

#thumbnailsContainer {
    overflow-y: scroll;
    height: 30%;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 3px;
}

#largeImageContainer {
    overflow-x: scroll;
    border: 1px solid black;
    padding: 10px 0 0px 0;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 3px;
}


#shoppingCart {
    position: relative;
    height: 8%;
    border: 1px solid #000000;
    background-color: #a4ffaf;
    margin-bottom: 3px;
    padding: 5px;
}

.identificator {
    text-align: center;
    padding: 3px;
}*/
