
  
<table id="userList">
    <thead>
        <tr>
            <td colspan="4">Список користувачiв</td>
        </tr>
        <tr>
            <td>Ім'я</td>
            <td>Дата</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.Username}}</td>
            <td>{{user.FormatedCreatedDate}}</td>
            <td><a [routerLink]="['../edit_gallery_page', user.GalleryID ]">Галерея</a></td>
            <td><a (click)="removeUser(user.GalleryID, user.Username)">Видалити</a></td>
        </tr> 
    </tbody>
    <tfoot>
    </tfoot>
</table>
 
    

 
 