

<form #form>
    <div class="form">
        <div id="formHeader">Додати фотографiю на сторiнку "Галерея"</div>
        <div class="row">
            <div>
                Зображення:
            </div>
            <div>
                <input type="file" #largeImage (change)="uploadLargeImg()" />
            </div>
        </div>
        <div class="row">
            <div>
                Мiнiатюрна копiя зображення:
            </div>
            <div>
                <input type="file" #thumbnail (change)="uploadThumbnail()" />
            </div>
        </div>
        <div class="row">
            <div>
            </div>
            <div>
                <button (click)="saveImages()">Зберегти</button>
            </div>
            <div>
            </div>
        </div>
    </div>
</form>
<div style="margin:0 auto;width:150px;">
    <img [src]="LargeImagePath" alt="Велике фото не вибрано" width="80" /><br />
    <img [src]="Thumbnail" alt="Зменшене фото не вибрано" width="60" />
</div>




